#hero {
    margin-block-start: 3.5rem;
    padding-inline: 10rem;
    height: 100vh;

    box-sizing: border-box;
    position: relative;

    .hero_img {
        position: absolute;
        top: -56px;
        left: 0;
        z-index: -1;
        opacity: 0;

        height: 59.25em;
        object-fit: cover;
        animation: opacity 3s linear forwards;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 70rem;
    width: 100%;

    margin-inline: auto;

    .btn {
        background-color: var(--pink-dark);
        color: var(--text-title);
        font: var(--button);
        padding: 0.75rem 1.25rem;

        border-radius: 0.5rem;
        overflow: hidden;        

        &:hover {
            background-color: var(--pink-base);
        }
    }
}

.centralized_content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block-start: 10.25rem;

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        max-width: 41rem;
        width: 100%;

        text-align: center;

        & h1 {
            color: var(--text-title);
            font: var(--title-lg);
            opacity: 0;
            animation: text-opacity 2s linear forwards;
        }

        & p {
            color: var(--text-body);
            font: var(--body-lg);
            opacity: 0;
            animation: text-opacity 2s 1s linear forwards;
        }
    }
}

@keyframes text-opacity {
    100% {
        opacity: 1;
    }
}

.animated_content {
    margin-block-start: 35rem;
    position: relative;
    
    & img {
        width: 5rem;
        height: 5rem;
   }

    img:nth-child(2) {
        transform: rotate(100deg);
        position: absolute;
        left: 10%;
        top: 110%;


        margin-inline-start: 0.625rem;
    }

    img:nth-child(3) {
        transform: rotate(20deg);
        position: absolute;
        left: 46%;
        bottom: 100%;

    }

    img:nth-child(4) {
        transform: rotate(-15deg);
        position: absolute;
        left: 85%;
        top: 100%;

        margin-block-start: 0.625rem;
    }

    & p {
        font: var(--subtitle);
        color: #c7c7c7;
        opacity: 0.5;
        text-align: center;
        transition: color 0.3s ease, opacity 0.3s ease;

        & span {
            color: #c7c7c7;
            font-weight: bold;
            transition: color 0.3s ease;
        }
    }

}