#hero {
    margin-block-start: 3.5rem;
    padding-inline: 10rem;
    height: 200vh;

    box-sizing: border-box;
    position: relative;

    .hero_img {
        position: absolute;
        top: -56px;
        left: 0;
        z-index: -1;
        opacity: 0;

        height: 59.25em;
        object-fit: cover;
        animation: opacity 3s linear forwards;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 70rem;
    width: 100%;

    margin-inline: auto;

    .btn {
        background-color: var(--pink-dark);
        color: var(--text-title);
        font: var(--button);
        padding: 0.75rem 1.25rem;

        border-radius: 0.5rem;
        overflow: hidden;        

        &:hover {
            background-color: var(--pink-base);
        }
    }
}

.centralized_content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block-start: 10.25rem;

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        max-width: 41rem;
        width: 100%;

        text-align: center;

        & h1 {
            color: var(--text-title);
            font: var(--title-lg);
            opacity: 0;
            animation: text-opacity 2s ease-out forwards;
        }

        & p {
            color: var(--text-body);
            font: var(--body-lg);
            opacity: 0;
            animation: text-opacity 2s ease-out forwards;
        }
    }
}

@keyframes text-opacity {
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.animated_content {
    margin-block-start: 25rem;
    position: relative;
    height: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 5rem;
        height: 5rem;
   }

    &:hover {
        & img {
            scale: 0;
            animation: image-appearing 4s forwards;
            opacity: 1;
        }
    }

    img:nth-child(2) {
        transform: rotate(95deg);
        position: absolute;
        left: 10%;
        top: 70%;        
        animation-delay: 0.5s;
        margin-inline-start: 0.625rem;
    }

    img:nth-child(3) {
        transform: rotate(20deg);
        position: absolute;
        left: 46%;
        bottom: 70%;
        animation-delay: 0s;
    }

    img:nth-child(4) {
        transform: rotate(-15deg);
        position: absolute;
        left: 85%;
        top: 70%;
        animation-delay: 1s;
        margin-block-start: 0.625rem;
     }

    p {
        font: var(--subtitle);
        color: #c7c7c7;
        opacity: 0.5;
        text-align: center;
    }
}

.animated_content:not(:hover){
    & img:nth-child(2) {
        animation: image-disappearing 4s forwards;
        opacity: 1;
    }

    & img:nth-child(3) {
        animation: image-disappearing 4s forwards;
        opacity: 0;
    }

    & img:nth-child(4) {
        animation: image-disappearing 4s forwards;
        opacity: 0;
    }
}

@keyframes image-appearing {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
        scale: 1;
    }

    30% {
        opacity: 1;
        scale: 1;
    }

    40% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes image-disappearing {
    0% {
        opacity: 1;
        scale: 1;
    }

    20% {
        opacity: 0;
        scale: 0;
    }

    30% {
        opacity: 0;
        scale: 0;
    }

    40% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 0;
        scale: 0;
    }
}